
name: randomator-prod
docker:
  auth_secret_name: docker-auth

deployments:
  front:
    replicas: 2
    image: barnabepilliaudin/randomator:front-latest
    container_port: 80
    env:
      VITE_API_URL: http://back.randomator.localhost
  back:
    replicas: 2
    image: barnabepilliaudin/randomator:back-latest
    container_port: 3000
    env:
      CORS: http://front.randomator.localhost

services:
  front:
    external_port: 80
    type: ClusterIP
  back:
    external_port: 3000
    type: ClusterIP

ingresses:
  front:
    domain: front.randomator.localhost
    tls: false
    tls_secret: front-tls-secret
  back:
    domain: back.randomator.localhost
    tls: false
    tls_secret: back-tls-secret
